<%= form_for @institution do |form| %>
  <% if @institution.errors.any? %>
    <div style="color: red">
      <h2>Atenção! <%= pluralize(@institution.errors.count, "erro") %> impediram o cadastro de ser realizado:</h2>
      <ul>
        <% @institution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 md:ml-5 md:mr-5">
    <div>
      <div class="border-b border-gray-900/10 pb-6">
        <h2 class="text-base font-semibold leading-7 text-gray-900 text-center">Cadastro para Relógios de Oração idependente nas igrejas locais</h2>
        <p class="mt-5 text-sm leading-6 text-gray-600 text-justify">Preencha seus dados para podermos catalogar as reuniões de oração da Campanha Mundial de Oração nas igrejas locais. Dessa forma podemos nos ajudar a fim de realizarmos a cada ano um Calendário mais rico para a CMO.</p>
        <!-- Campos do Form -->
        <div class="mt-3 grid grid-cols1 gap-x-4 gap-y-2 sm:grid-cols-2">
          <!-- Igreja/Congregação/Instituição -->
          <div class="sm:grid-span-1">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Igreja/Congregação/Instituição:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <%= form.text_field :name, autocomplete:"igreja", class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
                </div>
              </div>
          </div>
          <!-- Nome Responsável -->
          <div class="sm:grid-span-1">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Nome Responsável:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                <%= form.text_field :contact_name, autocomplete:"contact_name", class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
                </div>
              </div>
          </div>
          <!-- Horarios de oracao -->
          <div class="sm:grid-span-1">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Horários de oração:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <%= form.text_field :prayer_times, autocomplete: "prayer_times", class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Exemplo: Terças, 14h. Quartas, 10h e 15h." %>
                </div>
              </div>
          </div>
          <!-- E-mail -->
          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* E-mail:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <%= form.text_field :contact_email, autocomplete:"contact_email", class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
                </div>
              </div>
          </div>
          <!-- Contato -->
          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Contato:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <%= form.text_field :contact_phone, autocomplete:"contact_phone", class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder:"Exemplo: (21) 99999-9999" %>
                </div>
              </div>
          </div>
          <!-- Localidade -->
          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Localidade: (Cidade/UF)</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <%= form.text_field :address, autocomplete:"address", class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder:"Brasília/DF" %>
                </div>
              </div>
          </div>
          <!-- Link transmissao local -->
          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">Link transmissão local: <strong>(opcional)</strong></label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= form.text_field :link, autocomplete:"link", class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Link do Youtube, Instagram, Zoom, etc." %>
                </div>
              </div>
          </div>


        </div>
      </div>

      <!-- Notificacoes -->
      <div class="mt-5 border-b border-gray-900/10 pb-6 mb-6">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Notificações</h2>
        <p class="mt-2 text-sm leading-6 text-gray-600">Gostaríamos de manter contato por whatsapp ou e-mail sobre os assuntos da Campanha Mundial de Oração para os próximos anos. Informe abaixo se deseja receber nossas notificações.</p>

        <div class="mt-4 space-y-6">
          <fieldset>
            <legend class="text-sm font-semibold leading-6 text-gray-900">Informe-nos como gostaría de receber nossas mensagens:</legend>
            <div class="mt-2 space-y-6">
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <%= form.check_box :notification_whatsapp, checked: true, class:"h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
                </div>
                <div class="text-sm leading-6">
                  <label for="comments" class="font-medium text-gray-900">Whatsapp</label>
                </div>
              </div>
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <%= form.check_box :notification_email, class:"h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
                </div>
                <div class="text-sm leading-6">
                  <label for="candidates" class="font-medium text-gray-900">E-mail</label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="mb-6">
      <%= form.submit "Enviar", class: "rounded-md bg-green-600 px-7 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
</div>
<% end %>
