<!DOCTYPE html>
<html class="h-full white">
  <head>
    <title>Relógio de Oração - CMO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <%= render partial: "header" %>
      <%= render partial: "menu" %>
      <main>
        <div class="container mx-auto pr-5 pl-5 bg-white">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
  <footer class="bg-white pb-6 mb-6">
    <center class="">&copy; copyright 2024 <span class="text-red-100">&hearts;</span> Feito com amor por <a href="https://amide.org.br" target="_blank" class="text-green-600">AMIDE</a></center>
  </footer>
</html>
